torch>=1.10
torchvision>=0.2
numpy>=1.20
numba>=0.54
networkx>=2.8.7
zarr>=2.12
opencv-python>=4.5.3
scikit-image>=0.19
albumentations>=1.2
volumentations-3D>=1.0.4
pyyaml
cztile
mlflow
imagehash
simpleitk
tqdm